[user]
	email = troy.boettger@gmail.com
	name = Tbetcha
	signingkey = 7DAAE552563BD34F
[init]
	defaultBranch = main
[core]
	editor = nvim
	autocrlf = input
	pager = less -FX
[push]
	autoSetupRemote = true
[color]
	ui = true
[delta]
    navigate = true #use n and N to move between diff sections
    side-by-side = true
[merge]
    conflictStyle = diff3
[diff]
    colormoved = default
[interactive]
    diffFilter = delta --color-only
[pull]
	ff = only
